{% extends "base.html" %}
{% block content %}
{% for wish in wishes %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="#" class="img-fluid rounded-start" alt="Image">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ wish['name'] }}</h5>
                    <p class="card-text">Price: {{ wish['price'] }}</p>
                    <a class="btn-card" href="{{ wish['link'] }}">Buy now</a>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}